
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>A Simple Job Search Engine</title>
<link type="text/css" rel="stylesheet" href="static/main.css">
<link rel="icon" href="static/favicon/favicon-16.png" sizes="16x16">
<link rel="icon" href="static/favicon/favicon-32.png" sizes="32x32">
<link rel="icon" href="static/favicon/favicon-128.png" sizes="128x128">
<link rel="icon" href="static/favicon/favicon-180.png" sizes="180x180">
<link rel="icon" href="static/favicon/favicon-192.png" sizes="192x192">
</head>
<br>
<br>
<br>
<br>
<body>
   
    <div align = center >
        <a style = "cursor: pointer; text-decoration:none; font-size:30px; color:rgb(91, 184, 241); " onclick="history.back()">Go Back</a>
        </div>
    
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div align = center style = "font-size:30px; color:rgb(91, 184, 241)">This site was developed for integrated neat job hunting. All data belong to orginal sites.</div>

</body>