
<!DOCTYPE html>
<html lang="en">
<head>
<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>a simple job search engine</title>
<link rel="stylesheet" href="static/main.css">
<link rel="icon" href="static/favicon/favicon-16.png" sizes="16x16">
<link rel="icon" href="static/favicon/favicon-32.png" sizes="32x32">
<link rel="icon" href="static/favicon/favicon-128.png" sizes="128x128">
<link rel="icon" href="static/favicon/favicon-180.png" sizes="180x180">
<link rel="icon" href="static/favicon/favicon-192.png" sizes="192x192">

</head>


<body>

<div class="site_title">
    <a style = "text-decoration: none; color: rgb(91, 184, 241); font-size: 30px;" href="/">a simple job search engine</a>
</div> 

<div class="form">
<input type="text" class="jobtitle" id="job" placeholder="what job are you looking for?">
<input type="text" class="placename" id="location" placeholder="location?">
<select class = "site" id="dropdown">
    <option value="">choose website</option>
    <option value="seek">seek</option>
    <option value="indeed">indeed</option>
    <option value="trademe">trademe</option>
    
</select>
<br>
<br>
<br>
<button id="btn" class="button_left" type="button">Search</button>

</div>


</body>
<script src="static/home.js"></script>



